.section-pokemons{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    flex-wrap: wrap;
    gap: 2rem;
    /* margin: 0; */
    flex-grow: 3;
    /* flex-shrink: 1; */
}
